body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px black solid;
    width: 55vmin; 
    height: 80vmin;    
    background-color: grey;
    
}
.painel{
    border: 2px gray solid;
    width:45vmin; 
    height: 10vmin;
    margin-bottom: 5vmin;
    margin-top: 5vmin;
    text-align: end;
    font-size: 6vmin;
    background-color: bisque;
    border: 2px black solid;
    font-weight: 900;
}
.teclado{
    display: flex;
    border: 2px gray solid;
    width: 45vmin; 
    height: 50vmin;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vmin;
    flex-wrap: wrap;
    background-color: cadetblue;
    border: 2px black solid;
}
button{
    border: 2px black solid;
    flex-grow: 1;
    width: 13vmin;
    height: 5vmin;
    margin: 1vmin;
    font-size: 3vmin;
    font-weight: 900;
}
.clear{
    background-color: red;
}
.delete{
    background-color: purple;
}
.ponto{
    background-color: lightcoral;
}
.igual{
    background-color: green;
}
.soma{
    background-color: orange;
}
.divisao{
    background-color: orange;
}
.subtracao{
    background-color: orange;
}
.multiplicacao{
    background-color: orange;
}
